<div class="row">
  <h2>注文履歴一覧</h2>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th class="col-xs-3">購入日時</th>
        <th class="col-xs-3">購入者</th>
        <th class="col-xs-3">注文個数</th>
        <th class="col-xs-3">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
  
</div><!-- /.row -->