<div class="row mt-5" style="margin-top: 200px;">
  <h2>注文履歴詳細</h2>

  <table class="row table table-borderless">
    <tr>
      <th class="col-xs-3">購入者</th>
      <th class="col-xs-9">山田花子</th>
    </tr>
    <tr>
      <th>配送先</th>
      <th>配送先sdfaddddddddddddddddddddd</th>
    </tr>
    <tr>
      <th>支払方法</th>
      <th>銀行振込</th>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <th class="btn btn-primary">更新</th>
    </tr>
  </table>
</div>
<div class="row">
  <table class="table table-borderless" style="width: 70%;">
    <thead class="bg-light">
      <tr>
        <th class="col-xs-3">商品名</th>
        <th class="col-xs-2">単価（税込）</th>
        <th class="col-xs-1">個数</th>
        <th class="col-xs-2">小計</th>
        <th class="col-xs-3">製作ステータス</th>
        <th class="col-xs-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <th>リンゴ</th>
          <th>333円</th>
          <th>2個</th>
          <th>333円</th>
          <th></th>
          <th class="btn btn-primary">更新</th>
        </tr>
      
    </tbody>
  </table>
  </div>

  <table class="row table table-borderless">
    <tr>
      <th class="col-xs-3">商品合計</th>
      <th>44円</th>
    </tr>
    <tr>
      <th>送料</th>
      <th>44円</th>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <th>44円</th>
    </tr>
  </table>
</div><!-- /.row -->