<div class="row mt-5" style="margin-top: 200px;">
  <h2>注文履歴詳細</h2>

  <table>
    <tr>
      <th>購入者</th>
      <th>aa</th>
    </tr>
    <tr>
      <th>配送先</th>
      <th>配送先</th>
    </tr>
    <tr>
      <th>支払方法</th>
      <th>支払方法</th>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <th>注文ステータス</th>
    </tr>
  </table>

  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
  
</div><!-- /.row -->