<div class="row mt-5">
  <div class="col-sm-3">
  <h6 class="bg-info text-center">管理者画面</h6>
  </div>
  <div class="col-sm-9"></div>
</div>

<div class="row mt-5">
  <div class="col-sm-3">
  <h5>本日の注文件数　　8件</h5>
  </div>
  <div class="col-sm-9"></div>
  </div>
</div>