// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// top
.card-body{
  background-color: #ffffe0;
}

.link_text{
  color: #322D00;
  text-decoration: none;
}
